{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<title>Djise</title>
        <link rel="stylesheet" href="{{STATIC_URL}}css/960.css" type="text/css" media="screen" charset="utf-8" />
        <!--<link rel="stylesheet" href="{{STATIC}}css/fluid.css" type="text/css" media="screen" charset="utf-8" />-->
        <link rel="stylesheet" href="{{STATIC_URL}}css/template.css" type="text/css" media="screen" charset="utf-8" />
        <link rel="stylesheet" href="{{STATIC_URL}}css/colour.css" type="text/css" media="screen" charset="utf-8" />
        <link rel="stylesheet" href="{{STATIC_URL}}css/djise.css" type="text/css" media="screen" charset="utf-8" />
	</head>
	<body>
        <h1 id="head"><a href='{% url "entities" %}'>Djise</a></h1>
		
		<ul id="navigation">
            <li><span class="{{menu.in_entities}}"><a href="{% url "entities" %}">{% trans "Entities" %}</a></span></li>
            <li><span class="{{menu.in_events}}"><a href="{% url "events" %}">{% trans "Events" %}</a></span></li>
            <li style="float:right;"><a href="/admin/">{% trans "Admin" %}</a></li>
		</ul>
		
			<div id="content" class="container_16 clearfix">
                {% if messages %}
                    <div class='box'>
                    {% for message in messages %}
                    <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
                    {% endfor %}
                    </div>
                {% endif %}
                
                {% block content %}
                {% endblock %}
			</div>
		
		<div id="foot">
		    <a href="#">Contact Me</a>
		</div>
	</body>
</html>
