{% extends "djise/base.html" %}

{% load i18n %}

{% block content %}
    <div class="grid_11" >
        <div class="box">
            <h2>{{object.name}}</h2>
            <p>{{object.description}}</p>
        </div>
        <div class="box">
            <h2>{% trans "Activities" %}</h2>
            <table>
                <thead>
                    <tr>
                        <th>{% trans "Title" %}</th>
                        <th>{% trans "Date/Time" %}</th>
                        <th>{% trans "Votes" %}</th>
                    </tr>
                </thead>
                <tbody>
                {% for activity in object.activities.all %}
                    <tr>
                        <td><a href="{% url "activity" activity.slug %}">{{activity.name}}</a></td>
                        <td>{{activity.datetime}}</td>
                        <td>{{activity.votes}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="grid_5" >
        <div class="box">
            <h2>{% trans "Proposal" %}</h2>
            <form method="post" action="">
                {% csrf_token %}
                {{ proposal_form.as_p }}
                <input type='submit' value='send'>
            </form>
        </div>
        <div class="box">
            <h2>{% trans "Attachments" %}</h2>
            <ul>
            {% for attachment in object.attachments.all %}
                <li><a href="{{ attachment.attachment.url }}">{{attachment.name}}</a></li>
            {% endfor %}
            </ul>
        </div>
    </div>

    <div class="grid_16" >
        <div class="box">
            <h2>{% trans "Comments" %}</h2>
            {% load disqus_tags %}
            {% disqus_show_comments %}
        </div>
    </div>
{% endblock %}
